<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="p4SHtOucD1" />

    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <!--<title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>-->
    <title>vr虚拟室-中国领先的vr影院装修公司，帮助科技馆、博物馆4d,9d影院的装饰、装修</title>
    <meta http-equiv="Content-Language" Content="zh-CN" />
    <meta name="description" content="vr虚拟室(https://jiuchongxiao.github.io)是全球先进的vr虚拟现实装饰装修公司,汇集国内外先进虚拟技术,是国内领先的专业影院装修平台,是中国博物馆、科技馆、地质馆首选的vr、4d、9d装饰、装修的谭亚奉平台." />
    <meta name="keywords" content="vr虚拟现实,vr虚拟室,vr平台, 影院,科技馆装修,博物馆装修,地质馆装修,vr,vr影院,4d影院,9d,虚拟现实,地质灾难,安全馆,谭亚奉" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.tags) {
        var keywords = [];
        for (var i in page.tags.data) {
            keywords.push(page.tags.data[i].name);
        }
    %>
        <meta name="keywords" content="<%= keywords.join(',') %>" />
    <% } %>
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) %>
    <%- meta(page) %>

    <% if (theme.customize && theme.customize.social_links && theme.customize.social_links.rss) { %>
        <link rel="alternate" href="<%- theme.customize.social_links.rss %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <% if (theme.customize.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>

    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <!--<%- css('metronic/assets/plugins/bootstrap/css/bootstrap.min.css') %>-->
    <!-- Theme styles START -->
    <!--<%- css('metronic/assets/corporate/css/style.css') %>-->
    <%- css('vendor/font-awesome/css/bootstrap.min') %>
    <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

    <%- css('vendor/font-awesome/css/font-awesome.min') %>
    <%- css('vendor/titillium-web/styles') %>
    <%- css('vendor/source-code-pro/styles') %>




    <%- css('css/style') %>

    <%- css('css/style_new') %>

    <%- js('vendor/jquery/2.0.3/jquery.min') %>
    <%- js('vendor/jquery/2.0.3/bootstrap.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>


</head>
