<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('sidebar.recents') %></h3>
        <div class="widget">
            <ul id="recent-post" class="<%= (theme.customize.thumbnail?'':'no-thumbnail') %>">

                <!--根据菜单类型展示最新文章-->
                <%if(page.category){%>
                    <% var aaa=site.categories.findOne({name: page.category})%>
                <%}else{%>
                     <% var aaa=site%>
                <%}%>

                <%aaa.posts.sort('date', -1).limit(5).each(function(post) {%>
                <li>

                    <div class="item-inner" style="margin-left: -94px;">
                        <p class="item-title" style="display:inline-block;float:left"><a href="<%- url_for((post.link?post.link:post.path)) %>" class="title">
                        <%if(post.title.length>14){%>
                            <%=post.title.substr(0,14)+"..."%>
                        <%}else{%>
                            <%=post.title%>
                        <%}%>
                        </a></p>
                        <p class="item-date"  style="display:inline-block;float: right;"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p>
                    </div>
                </li>
                <% })%>
            </ul>
        </div>
    </div>
<% } %>